<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<style>
</style>
</head>
<body>




<div class="ui container">
  <div id="mapid" class="ui embed stackable" style="height: 80%; width:100%; margin: 0; overflow: hidden;" ></div></div>
  <div class="ui container">
    <button id="auth" class="big ui button">認証</button>
    <button id="get" class="huge ui button">get</button>
    <button id="ramen" class="huge ui button">ラーメン屋</button>
    <button id="remove_points" class="huge ui button">ポイント削除</button>
    <p id="ratelimit">リクエスト残り回数:</p>
  </div>  
  <div id="table" class="ui container">
    <table id="data-table" border="1" class="ui celled table stackable">
      <thead>
        <tr style="text-align: right;">
          <th>last_access_time</th>
          <th>page title</th>
          <th>access count</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row.1 }}</td>
          <td><a href="{{ row.0 }}">{{ row.2 }}</a></td>
          <td>{{ row.3 }}</td>
          <td><button class="ui button button_test" id="{{ row.4 }}">change</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

</body>
<script>
var geojson = L.geoJson({{ g | safe }});
var url = "https://foursquare.com/oauth2/authenticate?client_id={{ app.key }}&response_type=code&redirect_uri={{ app.redirect }};"
</script>
<script src="/syaro/swarm/static/swarm.js?v={{ v }}"></script>
</html>